# Pandas

Pandas is a powerful open-source data manipulation and analysis library for Python. It provides easy-to-use data structures and functions needed to work with structured data seamlessly. The two primary data structures in Pandas are:

Pandas is particularly useful for:
- **Data Cleaning**: It provides tools for handling missing data, converting data types, and other data cleaning tasks.
- **Data Exploration**: It allows you to explore and analyze data easily, including statistical analysis, aggregation, and summarization.
- **Data Manipulation**: Pandas supports operations like merging and joining datasets, reshaping data, and more.
- **Data I/O**: It can read and write data in various formats, including CSV, Excel, SQL databases, and more.

In [4]:
# Basic Example

import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)

# Displaying the DataFrame
df

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

Pandas simplifies many data manipulation tasks, making it a popular choice for data scientists, analysts, and developers working with data in Python.

_**NOTE**_: It is customary to import `numpy` as `np` and `pandas` as `pd`. Everyone does it this way.

In [18]:
import numpy as np
import pandas as pd

# create numpy array or list
# fixing the seed value to generate same random number
np.random.seed(100)

# range from 0 to 100 and array of dimension 5 X 3
arr = np.random.randint(0, 100, (5, 3))
arr

array([[ 8, 24, 67],
       [87, 79, 48],
       [10, 94, 52],
       [98, 53, 66],
       [98, 14, 34]])

In [22]:
# Create DataFrame from Array. Default column names and Row indexes starting from 0, 1, ... is generated.
df = pd.DataFrame(arr)
df

    0   1   2
0   8  24  67
1  87  79  48
2  10  94  52
3  98  53  66
4  98  14  34

In [26]:
print(type(arr))
print(type(df))

<class 'numpy.ndarray'>
<class 'pandas.core.frame.DataFrame'>

In [28]:
# You can create your own custom column and rows as well
rownames = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri']
columnnames = ['Jan', 'Feb', 'Mar']

df = pd.DataFrame(arr, index=rownames, columns=columnnames)
df

     Jan  Feb  Mar
Mon    8   24   67
Tue   87   79   48
Wed   10   94   52
Thu   98   53   66
Fri   98   14   34

### How to create DataFrame from a dictionary?

In [31]:
mydict = {
    'Jan': [1, 2, 3, 4, 5],
    'Feb': [10, 20, 30, 40, 50],
    'Mar': [15, 25, 35, 45, 55],
}

# dataframe from dict
df = pd.DataFrame(mydict, index=['Mon', 'Tue', 'Wed', 'Thu', 'Fri'])
df

     Jan  Feb  Mar
Mon    1   10   15
Tue    2   20   25
Wed    3   30   35
Thu    4   40   45
Fri    5   50   55

### Reading data from file

In [33]:
CSV_SAMPLE_FILE = "datasets/ODI_WC_2023_batting_summary.csv"
df = pd.read_csv(CSV_SAMPLE_FILE)

df

,Match_no,Match_Between,Team_Innings,Batsman_Name,Batting_Position,Dismissal,Runs,Balls,4s,6s,Strike_Rate
0,1,England vs New Zealand,England,Jonny Bairstow,1,c Daryl Mitchell b Mitchell Santner,33,35,4,1,94.300
1,1,England vs New Zealand,England,Dawid Malan,2,c Tom Latham b Matt Henry,14,24,2,0,58.300
2,1,England vs New Zealand,England,Joe Root,3,b Glenn Phillips,77,86,4,1,89.500
3,1,England vs New Zealand,England,Harry Brook,4,c Devon Conway b Rachin Ravindra,25,16,4,1,156.300
4,1,England vs New Zealand,England,Moeen Ali,5,b Glenn Phillips,11,17,1,0,64.700
...,...,...,...,...,...,...,...,...,...,...,...
911,48,India vs Australia,Australia,Travis Head,2,c Shubman Gill b Mohammed Siraj,137,120,15,4,114.167
912,48,India vs Australia,Australia,Mitchell Marsh,3,c KL Rahul b Jasprit Bumrah,15,15,1,1,100.000
913,48,India vs Australia,Australia,Steve Smith,4,lbw b Jasprit Bumrah,4,9,1,0,44.444
914,48,India vs Australia,Australia,Marnus Labuschagne,5,not out,58,110,4,0,52.727
915,48,India vs Australia,Australia,Glenn Maxwell,6,not out,2,1,0,0,200.000

In [37]:
# Reading only the first few rows
df.head() ## by default it only reads the first 5 rows

,Match_no,Match_Between,Team_Innings,Batsman_Name,Batting_Position,Dismissal,Runs,Balls,4s,6s,Strike_Rate
0,1,England vs New Zealand,England,Jonny Bairstow,1,c Daryl Mitchell b Mitchell Santner,33,35,4,1,94.300
1,1,England vs New Zealand,England,Dawid Malan,2,c Tom Latham b Matt Henry,14,24,2,0,58.300
2,1,England vs New Zealand,England,Joe Root,3,b Glenn Phillips,77,86,4,1,89.500
3,1,England vs New Zealand,England,Harry Brook,4,c Devon Conway b Rachin Ravindra,25,16,4,1,156.300
4,1,England vs New Zealand,England,Moeen Ali,5,b Glenn Phillips,11,17,1,0,64.700

In [38]:
df.head(2) ## will read only the first 2 rows

,Match_no,Match_Between,Team_Innings,Batsman_Name,Batting_Position,Dismissal,Runs,Balls,4s,6s,Strike_Rate
0,1,England vs New Zealand,England,Jonny Bairstow,1,c Daryl Mitchell b Mitchell Santner,33,35,4,1,94.300
1,1,England vs New Zealand,England,Dawid Malan,2,c Tom Latham b Matt Henry,14,24,2,0,58.300

In [39]:
# Reading only the last few rows
df.tail() ## by default it only reads the last 5 rows

,Match_no,Match_Between,Team_Innings,Batsman_Name,Batting_Position,Dismissal,Runs,Balls,4s,6s,Strike_Rate
911,48,India vs Australia,Australia,Travis Head,2,c Shubman Gill b Mohammed Siraj,137,120,15,4,114.167
912,48,India vs Australia,Australia,Mitchell Marsh,3,c KL Rahul b Jasprit Bumrah,15,15,1,1,100.000
913,48,India vs Australia,Australia,Steve Smith,4,lbw b Jasprit Bumrah,4,9,1,0,44.444
914,48,India vs Australia,Australia,Marnus Labuschagne,5,not out,58,110,4,0,52.727
915,48,India vs Australia,Australia,Glenn Maxwell,6,not out,2,1,0,0,200.000

In [40]:
df.tail(2) ## will read only the last 2 rows

,Match_no,Match_Between,Team_Innings,Batsman_Name,Batting_Position,Dismissal,Runs,Balls,4s,6s,Strike_Rate
914,48,India vs Australia,Australia,Marnus Labuschagne,5,not out,58,110,4,0,52.727
915,48,India vs Australia,Australia,Glenn Maxwell,6,not out,2,1,0,0,200.000

In [41]:
# Shape of the dataframe. For tabular data, it is number of rows x columns
df.shape

(916, 11)

In [43]:
# To get the underlying array behind the dataframe, use the `.values` attributes

df.values

array([[1, 'England vs New Zealand', 'England', ..., 4, 1, '94.300'],
       [1, 'England vs New Zealand', 'England', ..., 2, 0, '58.300'],
       [1, 'England vs New Zealand', 'England', ..., 4, 1, '89.500'],
       ...,
       [48, 'India vs Australia', 'Australia', ..., 1, 0, '44.444'],
       [48, 'India vs Australia', 'Australia', ..., 4, 0, '52.727'],
       [48, 'India vs Australia', 'Australia', ..., 0, 0, '200.000']],
      dtype=object)

Beside reading from text file, clipboard pandas also support reading files in a variety of the formats such as pickle, fwf (fixed width format), Excel, JSON, HTML, Tables, HDF Store, Feather, Parquet, ORC, SAS, SPSS, Stat, SQL Queries & Google Big Query

#### Mini Challenge
Convert the following lists to a pandas DataFrame with columns and an index

```python
index = [1, 2, 3, 4, 5]
col1 = list('abcde')
col2 = list('pqrst')
```

```python
lst = [
    ["Bunny", 25],
    ["Sunny", 30],
    ["Funny", 26],
    ["Hunny", 22],
]
```

In [75]:
# Mini challenge: 1

index = [1, 2, 3, 4, 5]
col1 = list('abcde')
col2 = list('pqrst')

df = pd.DataFrame([[col1[i], col2[i]]for i in range(len(index))], index=index)
df

   0  1
1  a  p
2  b  q
3  c  r
4  d  s
5  e  t

In [76]:
# Mini challenge: 2

lst = [
    ["Bunny", 25],
    ["Sunny", 30],
    ["Funny", 26],
    ["Hunny", 22],
]

df = pd.DataFrame(lst)
df

       0   1
0  Bunny  25
1  Sunny  30
2  Funny  26
3  Hunny  22

### Series and its relation with DataFrame

A `series` is a type that is used to store one column only. You can think of a series as one column of a `DataFrame` extracted.
Series is very similar to NumPy array, with a main difference that it has an index label for each observation.

**Relationship between a Series and a DataFrame**

If you extract any given column from a DataFrame, the resulting object is a Series.

In [105]:
# creating a 5x4 (row x column) matrix with number range between (1, 100)
arr = np.random.randint(1, 100, (5, 4))
arr

array([[50, 48, 66, 62],
       [15, 56, 72, 81],
       [ 3, 95, 20, 99],
       [64, 54, 28, 57],
       [31, 49, 48, 40]])

In [106]:
df = pd.DataFrame(arr, columns=['A', 'B', 'C', 'D'])
df

    A   B   C   D
0  50  48  66  62
1  15  56  72  81
2   3  95  20  99
3  64  54  28  57
4  31  49  48  40

In [107]:
df['A']

0    50
1    15
2     3
3    64
4    31
Name: A, dtype: int64

In [108]:
type(df['A'])

pandas.core.series.Series

In [109]:
# To get specific elements through indexing
df['A'][0:3]

0    50
1    15
2     3
Name: A, dtype: int64

In [110]:
# To get the numpy array, use `.values`
df['A'][0:3].values

array([50, 15,  3])

In [111]:
# You can further convert it to a list
df['A'][0:3].values.tolist()

[50, 15, 3]

**Create a standalone `Series` object**

In [112]:
data = np.arange(10)
index = list('abcdefghij')

series = pd.Series(data=data, index=index)
series

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

In [113]:
type(series)

pandas.core.series.Series

In [114]:
# Extracting an item.
series['b']

1

In [115]:
# Series are vectorized objects by default. Example: To multiply every item in by 2. 
# You don't have to loop through it, just multiply the series by 2
series = series * 2
series

a     0
b     2
c     4
d     6
e     8
f    10
g    12
h    14
i    16
j    18
dtype: int64

In [116]:
# Series is a one-dimensional object, so to extract more than one item, put all the item labels in a list
# and pass that list as argument. This won't work. Because, Series is one dimensional object and therefore
# will accept only one argument.

# so, if you want to fetch multiple indexes pass it in a list
series[['a', 'b', 'i', 'j']]

a     0
b     2
i    16
j    18
dtype: int64

In [117]:
# You can also create a series from a dict as well
data = {'a': 1, 'b': 2, 'c': 3}
series_2 = pd.Series(data=data)
series_2

a    1
b    2
c    3
dtype: int64

**Addition of series**

In [118]:
series + series_2

a    1.0
b    4.0
c    7.0
d    NaN
e    NaN
f    NaN
g    NaN
h    NaN
i    NaN
j    NaN
dtype: float64

In [119]:
# For missing values if you want to set a default value
series.add(series_2, fill_value=0)

a     1.0
b     4.0
c     7.0
d     6.0
e     8.0
f    10.0
g    12.0
h    14.0
i    16.0
j    18.0
dtype: float64

### Inspecting DataFrames

In [154]:
CSV_SAMPLE_FILE = "datasets/ODI_WC_2023_batting_summary.csv"
df = pd.read_csv(CSV_SAMPLE_FILE)

df

,Match_no,Match_Between,Team_Innings,Batsman_Name,Batting_Position,Dismissal,Runs,Balls,4s,6s,Strike_Rate
0,1,England vs New Zealand,England,Jonny Bairstow,1,c Daryl Mitchell b Mitchell Santner,33,35,4,1,94.300
1,1,England vs New Zealand,England,Dawid Malan,2,c Tom Latham b Matt Henry,14,24,2,0,58.300
2,1,England vs New Zealand,England,Joe Root,3,b Glenn Phillips,77,86,4,1,89.500
3,1,England vs New Zealand,England,Harry Brook,4,c Devon Conway b Rachin Ravindra,25,16,4,1,156.300
4,1,England vs New Zealand,England,Moeen Ali,5,b Glenn Phillips,11,17,1,0,64.700
...,...,...,...,...,...,...,...,...,...,...,...
911,48,India vs Australia,Australia,Travis Head,2,c Shubman Gill b Mohammed Siraj,137,120,15,4,114.167
912,48,India vs Australia,Australia,Mitchell Marsh,3,c KL Rahul b Jasprit Bumrah,15,15,1,1,100.000
913,48,India vs Australia,Australia,Steve Smith,4,lbw b Jasprit Bumrah,4,9,1,0,44.444
914,48,India vs Australia,Australia,Marnus Labuschagne,5,not out,58,110,4,0,52.727
915,48,India vs Australia,Australia,Glenn Maxwell,6,not out,2,1,0,0,200.000

In [155]:
# How many rows and columns are present
df.shape

(916, 11)

In [156]:
# To see Top n and Bottom n rows.
n = 6
df.head(n) # top n

,Match_no,Match_Between,Team_Innings,Batsman_Name,Batting_Position,Dismissal,Runs,Balls,4s,6s,Strike_Rate
0,1,England vs New Zealand,England,Jonny Bairstow,1,c Daryl Mitchell b Mitchell Santner,33,35,4,1,94.300
1,1,England vs New Zealand,England,Dawid Malan,2,c Tom Latham b Matt Henry,14,24,2,0,58.300
2,1,England vs New Zealand,England,Joe Root,3,b Glenn Phillips,77,86,4,1,89.500
3,1,England vs New Zealand,England,Harry Brook,4,c Devon Conway b Rachin Ravindra,25,16,4,1,156.300
4,1,England vs New Zealand,England,Moeen Ali,5,b Glenn Phillips,11,17,1,0,64.700
5,1,England vs New Zealand,England,Jos Buttler,6,c Tom Latham b Matt Henry,43,42,2,2,102.400

In [157]:
df.tail(n) # bottom n

,Match_no,Match_Between,Team_Innings,Batsman_Name,Batting_Position,Dismissal,Runs,Balls,4s,6s,Strike_Rate
910,48,India vs Australia,Australia,David Warner,1,c Virat Kohli b Mohammed Shami,7,3,1,0,233.333
911,48,India vs Australia,Australia,Travis Head,2,c Shubman Gill b Mohammed Siraj,137,120,15,4,114.167
912,48,India vs Australia,Australia,Mitchell Marsh,3,c KL Rahul b Jasprit Bumrah,15,15,1,1,100.000
913,48,India vs Australia,Australia,Steve Smith,4,lbw b Jasprit Bumrah,4,9,1,0,44.444
914,48,India vs Australia,Australia,Marnus Labuschagne,5,not out,58,110,4,0,52.727
915,48,India vs Australia,Australia,Glenn Maxwell,6,not out,2,1,0,0,200.000

In [158]:
# DataFrame info provides the datatypes, # Non null records and memory usage
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Match_no          916 non-null    int64
 1   Match_Between     916 non-null    object
 2   Team_Innings      916 non-null    object
 3   Batsman_Name      916 non-null    object
 4   Batting_Position  916 non-null    int64
 5   Dismissal         914 non-null    object
 6   Runs              916 non-null    int64
 7   Balls             916 non-null    int64
 8   4s                916 non-null    int64
 9   6s                916 non-null    int64
 10  Strike_Rate       916 non-null    object
dtypes: int64(6), object(5)
memory usage: 78.8+ KB

In [159]:
# Know memory usage of each column
df.memory_usage(deep=True)

Index                 132
Match_no             7328
Match_Between       72941
Team_Innings        60804
Batsman_Name        64697
Batting_Position     7328
Dismissal           73712
Runs                 7328
Balls                7328
4s                   7328
6s                   7328
Strike_Rate         57909
dtype: int64

In [160]:
# check only the datatypes
df.dtypes

Match_no             int64
Match_Between       object
Team_Innings        object
Batsman_Name        object
Batting_Position     int64
Dismissal           object
Runs                 int64
Balls                int64
4s                   int64
6s                   int64
Strike_Rate         object
dtype: object

Another aspect of examining a dataframe is to study the summary statistics.

### Approaches to Renaming Columns

In [161]:
df.columns

Index(['Match_no', 'Match_Between', 'Team_Innings', 'Batsman_Name',
       'Batting_Position', 'Dismissal', 'Runs', 'Balls', '4s', '6s',
       'Strike_Rate'],
      dtype='object')

In [162]:
# We want to rename '4s' to 'Fours'
df.rename(columns={'4s': 'Fours'}, inplace=True)
df.columns

Index(['Match_no', 'Match_Between', 'Team_Innings', 'Batsman_Name',
       'Batting_Position', 'Dismissal', 'Runs', 'Balls', 'Fours', '6s',
       'Strike_Rate'],
      dtype='object')

In [163]:
# Rename all the columns in one shot: Change Case
df.rename(str.upper, axis='columns').columns

Index(['MATCH_NO', 'MATCH_BETWEEN', 'TEAM_INNINGS', 'BATSMAN_NAME',
       'BATTING_POSITION', 'DISMISSAL', 'RUNS', 'BALLS', 'FOURS', '6S',
       'STRIKE_RATE'],
      dtype='object')

In [164]:
df.rename(str.lower, axis='columns').columns

Index(['match_no', 'match_between', 'team_innings', 'batsman_name',
       'batting_position', 'dismissal', 'runs', 'balls', 'fours', '6s',
       'strike_rate'],
      dtype='object')

In [165]:
# Replace all space character with "_"
df.rename(lambda x: x.replace('_', " "), axis='columns').columns

Index(['Match no', 'Match Between', 'Team Innings', 'Batsman Name',
       'Batting Position', 'Dismissal', 'Runs', 'Balls', 'Fours', '6s',
       'Strike Rate'],
      dtype='object')

In [168]:
# inplace update the column (replace blank with _ and make it lower)
df.rename(lambda x: x.replace(' ', "_").lower(), axis='columns', inplace=True)
df.columns

Index(['match_no', 'match_between', 'team_innings', 'batsman_name',
       'batting_position', 'dismissal', 'runs', 'balls', 'fours', '6s',
       'strike_rate'],
      dtype='object')